<fieldset>
  <%= f.label :comment, "any comment" %> <br>
  <%= f.text_field :comment %><br />
    <!-- 画像 -->
    <div class="field">
        <% if @record.image? %>
          <div class="thumbnail">
            <%= image_tag @record.image.url %>
          </div>
        <% end %><br>
        <%= f.label :image %><br>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>
      <div class="field">
        <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
        <% if @record.persisted? && @record.image? %>
          <label>
            <%= f.check_box :remove_image %>
            画像を削除
          </label>
        <% end %>
      </div>
       <!-- DBに保存されていない場合のみ表示 = 更新時のみ表示 -->
       
      <% if @design.persisted? %>
        <%= records_form.check_box :_destroy %>
        <%= records_form.label :_destroy, "削除" %><br />
      <% end %>

</fieldset>