<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @design.date %>
</p>

<p>
  <strong>Prototype:</strong>
  <%= @design.prototype_id %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @design.summary %>
</p>


 <% @records.each do |record| %>
      <p>comment</p> 
        <%= record.comment%> 
      </p>
      <p>
        <%= record.image %>
      </p>
      <p>
        <strong>Image:</strong>
        <% if record.image? %>
          <div class="thumbnail">
            <%= image_tag record.image.url %>
          </div>
        <% end %>
      </p>

  <% end %>
  
  

<%= link_to 'Edit', edit_design_path(@design) %> |
<%= link_to 'Back', designs_path %>
