<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @design.date %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @design.summary %>
</p>

<%= link_to 'Edit', edit_design_path(@design) %> |
<%= link_to 'Back', designs_path %>
