<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @part.date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @part.comment %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
