<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @prototype.date %>
</p>

<h1>
  <strong>Title</strong>
  <%= @prototype.title %>
</h1>


  <h5>Reasone</h5> <br>
<p>  <%= @prototype.reason %> </p>


  <h5>Major change</h5> <br>
<p><%= @prototype.major_change %></p>  

  <h5>History</h5> <br>
<table>
  <thead>
    <tr>
      <th><%= sortable "date", "Date" %></th>
      <th>Category</th>
      <th>Title</th>
      <th>Reason</th>
      <th>Major change</th>
      <th>Link</th>
    </tr>
  </thead>
<!-- experiment-->
  <tbody>
    <% @experiments.each do |experiment| %>
      <tr>
        <td><%= experiment.date %></td>
        <td>Experiment</td>
        <td><%= experiment.title %></td>
        <td><%= experiment.purpose %></td>
        <td><%= experiment.summary_result %></td>
        <td><%= link_to "詳細", experiment_path(experiment.id) %></td>
      </tr>
    <% end %>
    
    <!-- designs-->
        <% @designs.each do |design| %>
      <tr>
        <td><%= prototype.date %></td>
        <td><%= prototype.title %></td>
        <td><%= prototype.reason %></td>
        <td><%= prototype.major_change %></td>
        <td><%= link_to "詳細", prototype_path(prototype.id) %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>


<%= link_to 'Edit', edit_prototype_path(@prototype) %> |
<%= link_to 'Back', prototypes_path %>
