<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @experiment.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @experiment.title %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @experiment.purpose %>
</p>

<p>
  <strong>Summary result:</strong>
  <%= @experiment.summary_result %>
</p>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
