<h1>Experiment Detail</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @experiment.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @experiment.title %>
</p>

<p><strong>User</strong></p>
<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.account_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<p>
  <strong>Purpose:</strong>
  <%= @experiment.purpose %>
</p>

<p>
  <strong>Summary result:</strong>
  <%= @experiment.summary_result %>
</p>

<p>
  <strong>Image:</strong>
  <% if @experiment.image? %>
    <div class="thumbnail">
      <%= image_tag @experiment.image.url %>
    </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
