<!DOCTYPE html>
<html>
  <head>
  <title>prototype</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  
   <header class="navbar">
    <div class="container">
      <div id="logo"><%= link_to "PROTOTYPE", root_path %></div>
      <% if user_signed_in? %>
        <ul class="header-right">
          <li><%= link_to "プロトタイプ一覧", new_user_registration_path %></li>
          <li><%= link_to "新規実験", new_user_session_path %></li>
          <li><%= link_to "新規デザイン変更", new_user_session_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="header-right">
          <li>Make new accout!</li>
        </ul>
      <% end %>
    </div>
  </header>
  
  <%= yield %>
</body>
</html>
